<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backbode News</title>
    <link rel="stylesheet" href="/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.min.css" />
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Backbode News</a>
          <div class="account-nav"></div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="flash"></div>
      <div class="page"></div>
    </div>

    <script type="text/template" id="account">
      <a href="#account/edit" class="btn btn-primary" title="Edit">Edit</a>
      <h2>Your Account</h2>
      <p>Username: <%= account.get('username') %></p>
      <p>Email Address: <%= account.get('email') %></p>
      <p>Pointz: <%= account.get('points') %></p>
    </script>

    <script type="text/template" id="edit-account">
      <h2>Edit Your Account</h2>

      <form class="form-vertical">
        <div class="errors"></div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Username</label>
          <div class="controls">
            <input type="text" id="inputUsername" value="<%= account.get('username') %>" name="username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" value="<%= account.get('email') %>" name="email">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </div>
      </form>
    </script>

    <script type="text/template" id="account-nav-links">
      <% if(session_manager.loggedIn()) { %>
        <li><a href="#account">Your Account</a></li>
        <li><a href="#logout">Logout</a></li>
      <% } else { %>
        <li><a href="#login">Login</a></li>
        <li><a href="#signup">Sign Up</a></li>
      <% } %>
    </script>

    <script type="text/template" id="articles">
      <% if(session_manager.loggedIn()) { %>
        <a href="#articles/new" title="Add an Article" class="btn btn-primary">Submit an Article</a>
      <% } else { %>
        <a href="#login" title="login">Log in</a> to post an article.
      <% } %>

      <h2>Recent Articles</h2>
      <% if(articles.length > 0) { %>
        <ul class="articles">
          <% _.each(articles, function(article){ %>
            <li><a href="<%= article.get('url') %>" title="<%= article.get('title') %>"><%= article.get('title') %></a> (<%= article.get('url') %>) - <abbr class="timeago" title="<%= article.get('created_at') %>"><%= article.get('created_at') %></abbr></li>
          <% }); %>
        </ul>
      <% } %>
    </script>

    <script type="text/template" id="new-session-form">
      <h2>Login</h2>

      <form class="form-vertical">
        <div class="errors"></div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" name="email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </script>

    <script type="text/template" id="new-article-form">
      <h2>Submit an Article</h2>

      <form class="form-vertical">
        <div class="errors"></div>
        <div class="control-group">
          <label class="control-label" for="inputTitle">Title</label>
          <div class="controls">
            <input type="text" id="inputTitle" placeholder="Title" name="title">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputUrl">URL</label>
          <div class="controls">
            <input type="text" id="inputUrl" placeholder="URL" name="url">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </script>

    <script type="text/template" id="new-user-form">
      <h2>ohai!</h2>

      <form class="form-vertical">
        <div class="errors"></div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Username</label>
          <div class="controls">
            <input type="text" id="inputUsername" placeholder="Username" name="username">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputEmail">Email</label>
          <div class="controls">
            <input type="text" id="inputEmail" placeholder="Email" name="email">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPassword">Password</label>
          <div class="controls">
            <input type="password" id="inputPassword" placeholder="Password" name="password">
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" for="inputPasswordConfirmation">Password Confirmation</label>
          <div class="controls">
            <input type="password" id="inputPasswordConfirmation" placeholder="Password Confirmation" name="password_confirmation">
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <button type="submit" class="btn btn-primary">Sign up!</button>
          </div>
        </div>
      </form>
    </script>


    <script type="text/template" id="messages">
      <% if(messages.models.length > 0) { %>
        <div class="alert">
          <% _.each(messages.models, function(message){ %>
            <%= message.get('text') %>
          <% }); %>
        </div>
      <% } %>
    </script>

    <script type="text/template" id="form-errors">
      <div class="alert alert-error">
        <% _.each(errors, function(error){ %>
          <%= error %></br>
        <% }); %>
      </div>
    </script>
    <script data-main="js/app/main" src="js/vendor/requirejs/require.js"></script>
  </body>
</html>